@model JobBoard.Models.Applicant.ApplicationStatusViewModel

@{
    ViewData["Title"] = "Job Application Status";
}

<h1>Job Application Status</h1>

<div>
    <p><strong>Full Name:</strong> @Model.FullName</p>
    <p><strong>Applied For:</strong> @Model.JobName</p>
</div>

