@model JobBoard.Models.Job.JobDetailViewModel
@{
    ViewData["Title"] = "Job Details";
}

<div class="card">
    <div class="card-header">
        <h4>@Model.Name</h4>
    </div>

    <div class="card-body">
        <p>@Model.Description</p>
        <hr>
        <a href="@Url.Action("Register","Auth")" class="btn btn-success">
            Continue
        </a>
    </div>
</div>