<h1>Application Submitted</h1>
<p>Hi @Model.ApplicantName, </p>
<p>Your application for the "@Model.JobName" job has been submitted successfully!</p>
<p>Your application status is currently: @Model.ApplicationStatus</p>

<a href="@Url.Action("Index", "Home")">Go Back Home</a>
